    @import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

    /* 공통 */
    body{
        font-family: 'Song Myung', serif;
    }

    h1{
        text-align:right
    }

    h2{
        background-color:black;
        color:white;
    
    }

    .spacing1 {
        letter-spacing:0.2em
    }
    
    /* 한복소개 */
    header{
        background-image:linear-gradient(to top, rgba(43, 42, 42, 0.8), rgb(0,0,0,.2)), url(images_hanbok/한복.jpg);
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
    }
    .bg1{
        background-image: linear-gradient(to top, rgba(36, 35, 35, 0.8), rgb(0,0,0,.2)),url(images_hanbok/돌담.jpg);
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
    }